@use 'reset';
@use 'fonts';

$btn-color:#5474FD;
body{
    font-family: fonts.$prim-font;
    scroll-behavior: smooth;
    //font-size: 10px;
    color: #ffffff;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
img{
    max-width: 100%;
}
.bttn{
    padding: 1.9rem 1.7rem 1.6rem 2.2rem;
    font-weight: fonts.$fw-regular;
    font-family: fonts.$sec-font;
    font-size: 1.4rem;
    line-height: 2.6rem;
    letter-spacing: 0.14rem;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(
                40deg,
                 #496BFE  0%,
                 #496BFE 39.9%,
                 #5474FD 39.9%,
                 #5474FD 0%,
                 #5474FD 100%
             )  ;
    border: none;

}
.top-banner{
    background: url(../img/top-baner-img.svg);
    background-size: cover;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 27.7rem 0 13.4rem 0;
    &__title{
        font-weight: fonts.$fw-bold;
        font-size: 4.8rem;
        line-height: 2.6rem;
        letter-spacing: 0.48rem;
        text-transform: uppercase;
    }
    &__subtitle{
        font-weight: fonts.$fw-regular;
        font-size: 2.2rem;
        line-height: 2.6rem;
        letter-spacing: 0.682rem;
        padding: 1.1rem 0 4.8rem 0;
    }
    &__search{
        background-color: #ffffff;
        width: 65.3rem;
        display: flex;
        justify-content: space-between;

        &__search-field{
            width: 76.5%;
            padding: 1.7rem 0;
            font-size: 1.4rem;
            color: #999999;
            border: none;
        }
        ::placeholder{
            text-align: center;
            font-family: fonts.$prim-font;
            font-weight: 400;
            line-height: 2.6rem;
            letter-spacing: 0.28rem;
        }
        &__button{
            @extend.bttn;
            border: 0.2rem solid #ffffff;
            background: $btn-color;
        }
    }
    &__godown{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        font-weight: fonts.$fw-regular;
        font-size: 1.4rem;
        line-height: 2.6rem;
        text-align: center;
        letter-spacing: .3rem;
        padding-top: 10.8rem;
    }
}
.top-nav{
    background-color: $btn-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 39rem;   
    padding: 3rem 0;
    &__title{
        @extend.top-banner__title;
        font-size: 2.4rem;
    }
    &__list{
        color: #FFFFFF;
        display: flex;
        gap: 1.3rem;
        li{
            font-family: fonts.$sec-font;
            font-style: normal;
            font-weight: fonts.$fw-regular;
            font-size: 1.4rem;
            line-height: 2.6rem;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    
}
.more-info{
    background-image: url(../img/more-info-image.jpg);
    background-size: cover;
 
    main{
        width: 100%;
        background-color: rgba(0,0,0, 0.9);
        display: flex;
        flex-direction: row;
        gap: 16.6rem;
        align-items: center;
        justify-content: center;
        padding: 12.1rem 0;
    }
    &__content{
        width: 33%;
        &__title{
            font-family: fonts.$sec-font;
            font-style: normal;
            font-weight: fonts.$fw-regular;
            font-size: 3.6rem;
            line-height: 2.6rem;
        }
        &__desc{

            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.6rem;
            letter-spacing: 0.162rem;
            color: #E8E8E8;
            padding: 5rem 0;

        }
        &__btn{
            @extend.bttn;
            border: none;
            font-size: 1.6rem;
            padding: 2.1rem 4rem 1.8rem 4rem;
            letter-spacing: 0.12rem;
        }
    }
    &__images{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        :last-child{
            margin-left: 11rem;
        }
    }
}
.steps{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 8rem 0;
    background-color: #333333;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 6%;
        position: relative;
        &__text{
            font-family: fonts.$sec-font;
            font-weight: fonts.$fw-regular;
            font-size: 2.6rem;
            line-height: 2.6rem;
            color: #E8E8E8;
        }
        img{
            width: 5rem;
            margin-bottom: 3.8rem;
        }

    }
}
.steps__container:first-child::before , .steps__container:nth-child(2)::before {
    content: ' ';
    width: 95%;   
    height: 10rem;  
    border: solid 1px #fff;
    border-color: #fff transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
    position: absolute;
    top: -4rem;
    left: 52%;
   
}

.offers{

    &__first-offer{
        background-image: url(../img/first-offer.svg);
        background-size: cover;
        background-position: center;
        padding: 22.9rem 0 10.5rem 0;
        display: flex;
        justify-content: space-around;
    }
    &__second-offer{
        background-image: url(../img/second-offer.svg);
        background-size: cover;
        padding: 22rem 0 10.5rem 0;
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }
    &__info{
        width: 54rem;
        padding: 5rem 0 5rem 2.8rem;
        background: #232323;
        opacity: 0.9;
        h6{
            font-weight: fonts.$fw-regular;
            font-size: 2rem;
            line-height: 2.6rem;
            letter-spacing: 0.15rem;
            color: #E8E8E8;
        }
        h5{
            font-weight: fonts.$fw-regular;
            font-size: 2rem;
            line-height: 2.6rem;
            text-transform: uppercase;
            padding: 2.3rem 0 1.3rem 0;
        }
        p{
            font-weight: fonts.$fw-regular;
            font-size: 1.6rem;
            line-height: 2.6rem;
            color: #E8E8E8;
            padding-bottom: 4.6rem
        }
        button{
            @extend.bttn;
            padding: 2rem 6rem 1.6rem 6rem;
        }
    }
}
.last-banner{
    background:url(../img/last-banner-img.jpg);
    background-size: cover;

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20rem;
        background-color: rgba(0,0,0, 0.9);
    }
    &__title{
        font-family: fonts.$sec-font;
        font-weight: fonts.$fw-regular;
        font-size: 3.6rem;
        line-height: 2.6rem;
        padding: 12.8rem 0 9rem 0;
    }
    &__content{
        display: flex;
        flex-direction: row;
        background-color: #333333;
        width: 62.8%;
        div{
            padding: 1.9rem 2.5rem 0.9rem 6.2rem;
            h3{
                font-weight: fonts.$fw-regular;
                font-size: 2rem;
                line-height: 2.6rem;
                color: #FEFEFE;
            }
            i{
                font-size: 3.6rem;
                color: #5474FD;
            }
            p{
                font-size: 1.2rem;
                line-height: 1.6rem;
                color: #FEFEFE;
            }
            
        }    
    }
}
.page-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
    padding: 12.2rem 0 5.3rem 0;
    &__title{
        @extend.top-banner__title;
        font-size: 2.4rem;
        letter-spacing: 0.336rem;
    }
    &__subtitle{
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.6rem;
        letter-spacing: 0.16rem ;
        padding:0.8rem 0 2rem 0 ;
    }
    &__social-media{
        i{
            width: 3.9rem;
            font-size: 1.6rem;
        }       
        .fa-twitter:hover , .fa-instagram:hover ,.fa-facebook:hover{
           color: #1DA1F2;
        }
        .fa-youtube:hover ,.fa-pinterest:hover{
            color: #c8232c
            ;
        }
    }
}


// responsive
@media screen and (max-width:1299px){
    body{
        margin: 1rem;
        scroll-behavior: smooth;
    }
    .top-banner{
        padding: 20rem 0 10rem 0;
        &__title{
            font-size: 3rem;
        }
        &__subtitle{
            font-size: 1.2rem;
        }
        &__search{
            width: 50rem;
            font-size: 1rem;
            padding: 0;
            &__search-field{
                padding: 1rem 0;
                font-size: 1rem;
            }
            &__button{
                padding:1rem 1.7rem 1rem 2.2rem ;
                font-size: 0.9rem;
            }
        }
        &__godown{
            padding-top:5rem ;
        }
    }

    .top-nav{
        gap:0;
        &__title{
            font-size: 1.4rem;
        }
        &__list{
            gap: 2.5rem;
            li{
                font-size: 1.0rem;
            }
        }

    }
    .more-info{
        gap:0;
        &__content__desc{
            font-size: 1rem;
            line-height: 1.5rem;
        }
        &__content__title{
            font-size: 2.6rem;
        }
        &__content__btn{
            font-size: 1.1rem;
            padding: 1.1rem 1.5rem;
        }
        &__images :last-child {
            margin-left: 7rem;
        }
    }
    .steps{
        &__container{
            &__text{
                font-size: 1rem;
                line-height: 1.2rem;
            }
            img{
                width: 3rem;
                margin-bottom: 1.8rem;
            }
        }
        
    }
    .offers{
        &__info{
            width: 39rem;
            padding: 3rem 0 3rem 2.8rem;
            h6{
                font-size: 1rem;
                line-height: 1rem;
            }
            h5{
                font-size: 1.5rem;
                line-height: 1rem;
            }
            p{
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
        }
    }
    .last-banner{
        main{
            padding-bottom:13rem ;
        }
        &__title{
            font-size: 2.6rem;
            line-height: 1.6rem;
            padding: 8.8rem 0 6rem 0;
        }
        &__content{
            width: 95%;
            div{
                padding: 5%;
                h3{
                    font-size: 1.3rem;
                    line-height: 1.6rem;
                }
                p{
                    font-size: 1rem;
                    line-height: 1rem;
                }
                i{
                    font-size: 1.3rem;
                }
            }
        }
    }
    .page-footer{
        padding-top: 10rem;
        &__title{
            font-size: 2rem;
        }
        &__subtitle{
            font-size: 1.4rem;
            line-height: 1.6rem;        
        }
    }   
}

@media screen and (max-width:880px) {
    body{
        display: flex;
        flex-direction: column;
    }
    .top-banner{
        padding: 13rem 0 6rem 0;
        &__title{
            font-size: 2rem;
        }
        &__subtitle{
            font-size: 1.2rem;
            line-height: 1.6rem;
          padding-bottom: 2.8rem;
        }
        &__search{
            gap: 1rem;
            align-items: center;
            background-color: transparent;
            width: 23rem;
            &__search-field{
                width: 98%;
                font-size: .7rem;
                border-radius: 2rem;
                padding: 1.6rem;
            }
            &__button{
                font-size: 0;
                border-radius: 2rem;
                line-height: 0;
                padding: 1rem;
            }
        }
        &__godown{
            padding-top: 3rem;
            font-size: 1rem;
        }
    }
    .top-nav{
        padding: 10rem 0;
        &__title{
            font-size: 1.5rem;
        }
        &__list{
            gap: 1.5rem;
            flex-direction: column;
            align-items: flex-end;
            li{
                border-bottom: 1px solid;
            }
        }

    }
    .more-info{
        flex-direction: column;
        &__content{
            padding: 10%;
            width: 90%;

            &__images {
                padding-right: 10%;
                margin-left: 0;
            }
        }
    }      
    .steps__container img {
        width: 2rem;
     margin-bottom: 1.3rem;
    }
    .last-banner{
        &__content{
            flex-direction: column;
            width: 70%;
            div{
                padding: 5%;
                h3{
                    font-size: 1.8rem;
                    line-height: 2.6rem;

                }
                p{
                    font-size: 1.4rem;
                    line-height: 1.6rem;
                }
                i{
                    font-size: 2.3rem;
                }
            }
        }   
    }
  
}

@media screen and (max-width:660px) {
    .top-banner{
        &__title{
            font-size: 1.8rem;
        }
        &__subtitle{
            font-size: .7rem;
            letter-spacing: .5rem;
        }
        &__search{
            justify-content: center;
            gap: 0.1rem;
            &__search-field{
                width: 55%;
                gap: 0.4rem;
            }
            ::placeholder{
                line-height: 1.2rem;
                letter-spacing: 0.1rem;
            }
            &__button{
                border: 0.1rem solid;
            }
        }
    }
    .top-nav{
        flex-direction: column;
        gap: 3rem;
    }
    .more-info{
        div{
            display: none;
        }
    }
    .steps__container__text{
        font-size: .8rem;
    }
    .steps__container:first-child::before , .steps__container:nth-child(2)::before {
        display: none;
       
    }
    .offers{
        article{
            padding: 2rem 0 2rem 0;
        }
        &__info{
            width: 39rem;
            padding: 5%;
            h5{
                font-size: 1.2rem;
                line-height: 0.4rem;
            }
            p{
                font-size: 1.2rem;
                line-height: 1.4rem;
            }
            button{
                padding: 5%;
                font-size: 1rem;
                line-height: 2rem;
            }
        }
    }
    .last-banner{
        &__title{
            font-size: 2rem;
        }
        &__content{
            flex-direction: column;
            width: 70%;
            div{
                p{
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                }
            }
        }   
    }
    .page-footer{
        &__social-media{
            i{
                width: 2.9rem;
                font-size: 1.4rem;
            }       
        }
    }
}